#body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

#right {
    background: white;
    border-radius: 1rem;
    box-shadow: -1px 20px 11px -3px rgba(0,0,0,0.1);
    display: grid;
    grid-template-rows: min-content 1fr;
    padding: 1rem;
    gap: 1rem;
}

#left {
    display: grid;
    grid-auto-rows: 25%;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 1rem;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.summary {
    font-size: .8rem;
    color: grey;
}

.job {
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: -1px 20px 11px -3px rgba(0,0,0,0.1);
}

.job-left {
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
    gap: .2rem;
}

.summary {
    overflow-y: auto;
    padding-right: .2rem;
}

.job-right {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-content: center;
    align-content: center;
}

.job-right > div:first-child {
    text-transform: uppercase;
}

.score {
    font-size: 3rem;
    text-align: center;
    
}

#right-top {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

#insight {
    text-wrap: balance;
    overflow-y: auto;
    padding-right: 1rem;
}

